<p id="notice"><%= flash[:notice] %></p>

<p>
  <strong><%= t "registration.done.congrats" %></strong><br/>
  <%= t "registration.done.reg_num" %> #<strong><%= @registration.id %></strong>
</p>
<% if @downloadable -%>
<p>
  <strong><%= t "registration.done.expiration_note1" %></strong> <%= t "registration.done.expiration_note2" %><br/>
  <%= link_to t("registration.done.download"), @document_url, target: "_blank" %>
</p>
<% end -%>
